<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>block内的变量释放.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74C869331E54990C006D50E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C8694C1E54990C006D50E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C869571E54990C006D50E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
